/* body y background */
body {
  text-align: center;
  background-color: #B37C17;
}
#background2 {
  background-color: #7D20B3;
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40%;
}

/* h1 */
h1 {
  color: salmon;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center; /* ubicación temporal */
  letter-spacing: 4px;
}
h1 div {
  height: 50px;
}

/* user textarea */
textarea {
    display: block;
    color: salmon;
    font-size: .8rem; /* duda si usar rem, em o px para tamaño */
    letter-spacing: 1px;
    text-transform: uppercase; /* ver si afecta solo rendering o si afecta directamente los valores */
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    line-height: 1.5;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
}

/* botones e input */
input[type=text] {
    width: 80px;
}
button[type=button] {
  width: 80px;
}
#userOffset {
  color: #212121;
  position: relative;
  right: 120px;
}
#encDecB {
  position: relative;
  left: 120px;
}

button {
  color: white;
  background-color: salmon;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 0.5px 0.5px 0.5px #999;
  transition-duration: 0.15s;
}

button:hover {
  background-color: #7D20B3;
  color: gray;
}
